.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, calc((100vh - 40px) / 3));
    gap: 10px;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-big1{
    grid-column: 1;
    grid-row: 1 / 3;
}

.image-small1{
    grid-column: 1;
    grid-row: 3;
}

.image-big2{
    grid-column: 2;
    grid-row: 2 / 4;
}

.image-small2{
    grid-column: 2;
    grid-row: 1;
}

.image-big3{
    grid-column: 3;
    grid-row: 1 / 3;
}

.image-small3{
    grid-column: 3;
    grid-row: 3;
}